.task12 {
    background-color: lightgrey;
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px ;
}
.task12 h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.task3 {
    margin-top: 5px;
    border-radius: 5px 5px 0 0 ;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    flex: 1 0 auto;
}
.task3 h1 {
    color:darkslateblue;
    text-align: center;
}